= simple_form_for(@stuk_todo_task, html: { class: 'form-signin' }) do |f|
  = f.error_notification
  = f.input :content, label: false, autofocus: true, placeholder: 'Content', required: true
  = f.button :submit, 'Submit', class: 'btn btn-lg btn-primary btn-block'
